body {
    font-family: sans-serif;
    color: #2C3E50; 
}

fieldset {
    border-color: #2C3E50;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
}

legend {
    font-size: 18px;
}

.summary {  
    cursor: progress;
}

.boxes {
    float: left;
    padding: 2px 5px;
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.numberBox {
    margin: 42px 1px;
}
.valueBox {
    margin: 60px 1px 10px 0px;
}

.sqrtChar {
    float: left;
    font-size: 45px;
}

.equalChar {
    float: left;
    font-size: 25px;
    margin: 50px 10px 40px;
 }

.resultLabel {
    position: absolute;
    top:68px;
    left: 960px;
    width: 115px;
    padding: 5px;
    border-radius: 5px;    
}
.alert {
    box-shadow: 0 -200px 100px -120px red inset;
    animation: background .5s infinite alternate;
}

@keyframes background {
    100% {
        box-shadow: 0 -200px 100px -100px white inset;
    }
  }

.button {
    background-color: #2C3E50;
    border-radius: 7px;
    padding: 5px 15px;
    color: white;  
}

form {
    margin: 0 auto;
    width: 80px;
}